@media (max-width: 1250px) {
  #hero {
    flex-direction: column;
    gap: 0px;
  }

  .hero-info {
    align-items: center;
  }

  .hero-info a {
    width: 60%;
    max-width: none;
    margin: 60px;
  }

  .hero-card {
    display: none;
  }

  #recomendados h2 {
    display: flex;
    flex-direction: column;
    align-self: auto;
    justify-content: center;
    align-items: center;
  }

  .recomendados-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #mostpopular h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #categories h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* media 600px */
@media (max-width: 600px){
  .nav-container {
    padding: 0 40px;
  }

  .nav-container i {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    height: calc(50vh - 70px);
    background-color: #191919;
    transform: translate(200%);
    transition: all 0.7s linear;
  }
  
  #toggle-menu:checked + .navbar {
    transform: translate(0%);
    transition: all 0.7s linear;
  }

  .navbar-list {
    flex-direction: column;
  }

  /* hero */
  .hero-info {
    padding: 30px 0px 0px 0px;
  }

  .hero-info h1,h2 {
    font-size: 50px;
    line-height: 40px;
  }

  .hero-info a {
    margin: 30px;
  }

  #recomendados {
    width: 90%;
  }

  .recomendados-cards {
    padding: 20px;
    width: 100%;
    height: auto;
  }

  .info-cards-categories {
    width: 350px;
  }
}