@media (max-width: 1250px) {
  #hero {
    flex-direction: column;
    gap: 0px;
  }

  .hero-info {
    align-items: center;
  }

  .hero-info a {
    width: 60%;
    max-width: none;
    margin: 60px;
  }

  .hero-card {
    display: none;
  }

  #recomendados h2 {
    display: flex;
    flex-direction: column;
    align-self: auto;
    justify-content: center;
    align-items: center;
  }

  .recomendados-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #mostpopular h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
